# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.tsx text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf

# Denote all files that are truly binary and should never be merged
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
