@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-green-color: var(--green-color);
  --color-green-color-foreground: var(--green-color-foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-invalid-color: var(--invalid-color);
  --color-success: var(--success);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* Neutral */
  --color-neutral-60: var(--neutral-60);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  /* Primary */
  --color-dark-primary: var(--dark-primary);
}

:root {
  --radius: 0.625rem;
  --background: #e4e4e4;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #08baa8;
  --success: #14e87a;
  --green-color: #10b981;
  --green-color-foreground: white;
  --primary-foreground: black;
  --secondary: #1b1b1b;
  --secondary-foreground: white;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: #9747ff;
  --accent-foreground: oklch(100% 0.00011 271.152);
  --destructive: oklch(0.577 0.245 27.325);
  --invalid-color: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* Neutral */
  --neutral-60: #757b8a;
  /* Primary */
  --dark-primary: #273b39;
  /* Sizes */
  --sidebar-width: 250px;
  --collapsed-sidebar-width: 50px;
}

body {
  will-change: scroll-position;
}

::selection {
  background-color: #08baa8;
  color: white;
}

::-moz-selection {
  background-color: #08baa8;
  color: white;
}

.font-inter {
  font-family: var(--font-inter);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.about-grid {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: auto auto 285px 285px;
  grid-template-rows: 240px 240px;
  grid-template-areas:
    "main main getStarted  getStartedNow"
    "main main letsTalk  getStartedNow";
}

@media (max-width: 1280px) {
  .about-grid {
    grid-template-columns: 300px 200px 200px;
  }
}

@media (max-width: 1080px) {
  .about-grid {
    grid-template-columns: 300px auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "main main getStarted letsTalk"
      "main main getStartedNow getStartedNow";
  }
}

@media (max-width: 1024px) {
  .about-grid {
    grid-template-columns: calc(50% - 0.875rem) calc(50% - 0.875rem);
    grid-template-rows: 369px auto auto;
    grid-template-areas:
      "main main"
      "getStarted letsTalk"
      "getStartedNow getStartedNow";
  }
}

@media (max-width: 640px) {
  .about-grid {
    display: flex;
    flex-direction: column;
  }
}
